/* Sets the order in which the rest of the layers will cascade despite their placements in the document.*/
@layer reset, base, layout, components, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  @font-face {
    font-family: "High Empathy";
    font-weight: 600;
    src: url(/assets/fonts/high_empathy-webfont.woff2) format("woff2"),
      url(/assets/fonts/high_empathy-webfont.woff) format("woff");
  }

  @font-face {
    font-family: "humane";
    font-weight: 700;
    src: url(/assets/fonts/Humane-Bold.woff2) format("woff2"),
      url(/assets/fonts/Humane-Bold.woff) format("woff");
  }

  @font-face {
    font-family: "inter";
    font-weight: 500;
    src: url(/assets/fonts/Inter-Medium.woff2) format("woff2");
  }

  @font-face {
    font-family: "boldonse";
    font-weight: 400;
    src: url(/assets/fonts/boldonse-regular-webfont.woff2) format("woff2"),
      url(/assets/fonts/boldonse-regular-webfont.woff) format("woff");
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  /* The base styles of the site*/
  :root {
    /* -------Primitive variables/ Custom Properties --------- */
    /*
        -clr = color
        -ff = font family
        -fs = font size
        */

    /* --Colors-- */
    --clr-white-1: hsl(0, 0%, 100%);
    --clr-white-2: hsl(0, 0%, 75%);
    --clr-white-3: hsl(0, 0%, 50%);

    --clr-black-1: hsl(0, 0%, 0%);
    --clr-black-2: hsl(0, 0%, 15%);
    --clr-black-3: hsl(0, 0%, 30%);

    --clr-red-4: hsl(14, 99%, 75%);
    --clr-red-5: hsl(14, 99%, 50%);
    --clr-red-6: hsl(14, 99%, 25%);

    /* --Fonts/Typography-- */
    --ff-heading: "humane", sans-serif;
    --ff-body: inter, sans-serif;
    --ff-accent: "Alex Brush", sans-serif;

    /* --Fonts Sizes-- */
    --fs-100: clamp(0.625rem, 0.5vw + 0.5rem, 0.75rem);
    --fs-200: clamp(0.75rem, 0.7vw + 0.5rem, 0.875rem);
    --fs-300: clamp(0.875rem, 0.9vw + 0.5rem, 1rem);
    --fs-400: clamp(1rem, 1vw + 0.5rem, 1.125rem);
    --fs-500: clamp(1.125rem, 1.2vw + 0.5rem, 1.25rem);
    --fs-600: clamp(1.25rem, 1.4vw + 0.5rem, 1.5rem);
    --fs-700: clamp(1.5rem, 1.6vw + 0.5rem, 1.875rem);
    --fs-800: clamp(1.875rem, 2vw + 0.5rem, 2.25rem);
    --fs-900: clamp(2.25rem, 2.5vw + 0.5rem, 3rem);
    --fs-1000: clamp(3rem, 4vw + 0.5rem, 4rem);

    /* Spaces */
    --space-xxs: 0.128rem;
    --space-xs: 0.272rem;
    --space-sm: 0.618rem;
    --space-md: 1rem;
    --space-lg: 1.618rem;
    --space-xl: 2.618rem;

    /* Border Radius */
    --border-radius-xs: 0.25rem;
    --border-radius-s: 0.5rem;
    --border-radius-m: 0.75rem;
    --border-radius-l: 1rem;
    --border-radius-xl: 1.5rem;
  }

  :root {
    /* ------Structured Variables------ */

    /* --Colors-- */
    --tc-high-contrast1: var(--clr-white-1);
    --tc-high-contrast2: var(--clr-white-2);
    --tc-high-contrast3: var(--clr-white-3);

    --tc-dark-contrast1: var(--clr-black-1);
    --tc-dark-contrast2: var(--clr-black-2);
    --tc-dark-contrast3: var(--clr-black-3);

    --tc-accent-light: var(--clr-red-4);
    --tc-accent: var(--clr-red-5);
    --tc-accent-dark: var(--clr-red-6);

    --bg-accent-light: var(--clr-red-4);
    --bg-accent-main: var(--clr-red-5);
    --bg-accent-dark: var(--clr-red-6);

    --bg-light1: var(--clr-white-1);
    --bg-light2: var(--clr-white-2);
    --bg-light3: var(--clr-white-3);

    --bg-dark1: var(--clr-black-1);
    --bg-dark2: var(--clr-black-2);
    --bg-dark3: var(--clr-black-3);

    /* --Fonts/Typography-- */
    --fs-title: var(--fs-1000);

    --fs-heading-small: var(--fs-600);
    --fs-heading-regular: var(--fs-700);
    --fs-heading-large: var(--fs-800);
    --fs-heading-extra-large: var(--fs-900);

    --fs-extra-small: var(--fs-100);
    --fs-small: var(--fs-200);
    --fs-regular: var(--fs-300);
    --fs-large: var(--fs-400);
    --fs-extra-large: var(--fs-500);
  }

  html {
    font-family: var(--ff-body);
    line-height: 1.6;
    /* The amount of padding when clicking on link in page*/
    scroll-padding: 1rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      /* Makes the scroll experience smooth when click on link. */
      scroll-behavior: smooth;
    }
  }

  body {
    font-size: var(--fs-large);
    color: var(--tc-high-contrast1);
    background-color: var(--bg-accent-main);
  }

  body h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-heading);
    color: var(--tc-high-contrast1);
  }

  h1 {
    font-size: var(--fs-title);
  }

  a {
    color: var(--tc-high-contrast1);
  }

  a:hover,
  a:focus-visible {
    color: var(--tc-high-contrast2);
  }
}

/* Just generic layouts */
@layer layout {
  /* Selects all the direct descendants, except the first one */
  .flow > * + * {
    margin-block-start: var(--flow-space, 1em); /* 1em for readable flow */
  }

  .main {
    position: relative;
    z-index: 10;
    background-color: var(--bg-dark1);

    transform: translate3d(0, 0, 0); /* For Safari browser*/
  }
  .noise {
    position: absolute;
    z-index: -100;
    inset: 0;
    background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }

  .section {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .projects__header {
    font-family: "boldonse";
    font-size: var(--fs-heading-large);
    max-width: 800px;
    line-height: 1.5;

    p > span {
      font-family: "high empathy";
      font-size: 4rem;
      color: var(--tc-accent);
      padding-inline: 0.8rem;
      line-height: 0.5;
      font-weight: 800;
    }
  }

  .grid-flow {
    display: grid;
    gap: var(--grid-flow-gap, 2rem); /* 1rem for consistent flow */

    @media (width > 830px) {
      --grid-flow-gap: 5rem;
    }
  }

  .equal-cols {
    display: grid;
    gap: var(--equal-col-gap, 1rem);
    align-items: var(--equal-col-vert-align), initial;
    justify-content: space-between;

    @media (width > 830px) {
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      /* grid-auto-columns: 1fr; Make cols equal */
    }

    &[data-gap="large"] {
      --equal-col-gap: 2rem; /* if need a larger gap */
    }

    &[data-align="center"] {
      --equal-col-vert-align: center; /* if need a center alignment for the cols */

      @media (width > 490px) {
        grid-auto-flow: column;
        /* grid-auto-columns: 1fr;*/ /*Make cols equal */
      }
    }

    &[data-direction="reversed"] {
      @media (width > 490px) {
        p {
          order: -1;
        }
      }
    }
  }

  .section {
    --padding-b: 3rem;
    padding-block: var(--padding-b); /* Top and bottom spacing of sections */

    @media (width > 830px) {
      --padding-b: 5rem;
    }
  }

  .wrapper {
    --wrapper-max-width: min(100vw, 1530px);
    --wrapper-inline-padding: 1rem;

    max-width: var(--wrapper-max-width); /* Large screen */
    margin-inline: auto;
    padding-inline: var(--wrapper-inline-padding); /*Small screens */
    box-sizing: content-box; /* Just for adjusting the size from figma files */

    &[data-width="narrow"] {
      /* Modifier attribute for wider breakouts */
      --wrapper-max-width: 960px; /* local scoped var. Overrides the value in .wrapper class but only for ones that has this data attribute. */
    }

    &[data-width="wide"] {
      /* Modifier attribute for wider breakouts */
      --wrapper-max-width: 100vw; /* local scoped var. Overrides the value in .wrapper class but only for ones that has this data attribute. */
    }

    &[data-padding="large"] {
      @media (width > 830px) {
        --wrapper-inline-padding: 2rem;
      }
    }
  }
}

@layer components {
  .site-header {
    --site-header-height: auto;
    --site-header-padding: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;

    height: var(--site-header-height);
    padding-block: var(--site-header-padding);
  }

  .site-header__inner {
    display: flex;
    flex-wrap: wrap; /* makes the nav more responsive on smaller screens */
    gap: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .primary-navigation {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 2rem;
      text-transform: uppercase;
      font-size: var(--fs-small);
      align-items: center;
    }

    a:link,
    a:hover,
    a:active,
    a:visited {
      text-decoration: none;
      color: white;
    }

    .contact {
      background-color: var(--bg-accent-main);
      padding: 0.5rem 0.8rem;
      border-radius: var(--border-radius-s);
      transition: background-color 0.2s ease-in-out;
    }

    .contact:hover {
      background-color: var(--bg-accent-dark);
    }
  }

  .button {
    display: inline-flex;
    padding: 0.8rem 1rem;
    font-size: var(--fs-regular);
    background-color: var(--bg-dark1);
    text-decoration: none;
    border-radius: 10px;

    &:hover,
    &:focus-visible {
      color: var(--tc-dark-contrast1);
      background-color: var(--bg-light1);
    }

    &[data-color="light"] {
      color: var(--tc-dark-contrast1);
      background-color: var(--bg-light1);

      &:hover,
      &:focus-visible {
        color: var(--tc-high-contrast1);
        background-color: var(--bg-dark1);
      }
    }
  }

  .hero {
    height: 100svh;
    padding-top: 18vw;
    display: flex;
    align-items: center;

    .hero__content {
      position: relative;
    }

    .hero__intro {
      position: absolute;
      top: -25%;
      left: 0;
      font-family: "High Empathy";
      font-size: clamp(2rem, 1rem + 5vw, 7rem);
      font-weight: 800;
      -webkit-text-stroke: 3px;
      color: var(--tc-accent);
    }

    .hero__title {
      display: flex;
      gap: 2rem;
      padding-block-end: clamp(1.5rem, 2vw + 0.2rem, 4rem);

      & img {
        width: 100vw;
      }
    }

    @media (width < 840px) {
      .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .hero__intro {
        position: relative;
        margin-bottom: -1.75rem;
        -webkit-text-stroke: 1.5px;
      }

      .hero__title {
        min-width: 300px;
        width: 60%;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .hero__end {
      display: flex;
      align-content: center;
      justify-content: space-between;
      font-size: var(--fs-regular);

      .hero__phrase {
        text-align: left;
        font-weight: 500;
        line-height: 1.2;
        width: 300px;
      }

      & a {
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        gap: 0.5rem;

        & > span {
          display: block;
          transition: translate 0.325s linear;
        }

        &:hover > span {
          translate: 0 3px;
        }
      }

      @media (width < 840px) {
        flex-direction: column;
        gap: 5vw;
        align-items: center;

        .hero__phrase {
          text-align: center;
          width: auto;
        }
      }
    }
  }

  .projects__cards {
    @media (width > 830px) {
      padding-inline: 2rem;
    }
  }

  .card {
    display: grid;
    gap: var(--card-col-gap, 1rem);

    .card-preview video {
      width: 100%;
    }

    .card-info h3 {
      font-size: var(--fs-heading-extra-large);
    }

    .card-tags {
      margin-block: 1rem;
      display: flex;
      gap: 1rem;

      .card-tag {
        background-color: var(--bg-accent-main);
        padding: 0.5rem;
        font-size: var(--fs--small);
      }
    }

    .card__description {
      font-size: var(--fs-regular);
    }

    .card__year {
      font-size: var(--fs-large);
      align-self: flex-end;
    }

    @media (width > 830px) {
      --card-col-gap: 2rem;

      height: 70%;

      .card-preview {
        background-color: var(--bg-accent-main);
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        border-radius: 15px;
      }
      .card-preview video {
        max-width: 780px;
      }

      .card__description {
        font-size: var(--fs--small);
      }

      .card-tag {
        font-size: var(--fs--small);
      }
    }

    @media (width > 1200px) {
      grid-auto-flow: column;
      grid-auto-columns: 5fr 3fr;
      /* height: 50svh; */

      .card-info {
        position: relative;
        display: flex;
        flex-direction: column;
      }

      .card__year {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &[data-direction="reversed"] {
        grid-auto-columns: 3fr 5fr;

        .card-preview {
          order: 2;
        }

        .card__year {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }

  .accordions {
    font-size: var(--fs-large);
    margin-block-end: 5rem;

    .accordion {
      padding: 0.4rem;
      border-bottom: 1px solid var(--clr-black-3);
    }

    .accordion__title::first-letter {
      color: var(--tc-accent);
    }

    .accordion__content {
      font-size: var(--fs-regular);
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 300ms;

      &[aria-hidden="false"] {
        grid-template-rows: 1fr;
      }

      div {
        overflow: hidden;
      }
    }
  }

  .about__details {
    --about-grid-direction: row;

    display: grid;
    grid-auto-flow: var(--about-grid-direction);

    .about__details-title {
      font-size: var(--fs-heading-regular);
    }

    @media (width > 830px) {
      --about-grid-direction: column;

      grid-template-columns: 1fr 1fr;

      .about__details-content {
        .about__details-title {
          font-size: 5rem;
        }
      }
    }
  }

  .testimonials__carousal {
    display: grid;
    gap: 2rem;
    padding-block-start: 2rem;

    .testimonials__carousal-image {
      max-height: 80vw;

      img {
        aspect-ratio: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 10%;
      }
    }

    @media (width >830px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;

      .testimonials__carousal-contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .infiniteScroll {
    --scroll-gap: 2rem;

    padding-block: 0.5rem;
    /* border-block: 1px solid; */

    display: flex;
    gap: var(--scroll-gap);
    justify-content: space-between;
    overflow: hidden;
    user-select: none;

    .infiniteScroll__sections {
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      align-items: center;
      flex-shrink: 0;

      animation: scroll 10s linear infinite;

      div {
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
  }

  .connect__banner {
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-block: 2rem;

    .connect__banner_header {
      text-align: center;
    }

    .connect__banner_title {
      font-family: var(--ff-heading);
      font-size: var(--fs-title);
      line-height: 0.8;
      text-transform: uppercase;
      text-align: center;
    }

    .connect__banner_buttons {
      display: flex;
      flex-direction: column;
      margin-inline: auto;
      gap: 1rem;
      line-height: 1;
    }
  }

  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  .footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-block: 2rem;

    .footer__menu h3 {
      border-block-end: 1px solid white;
    }
  }

  .footer__details {
    padding-block-end: 1rem;
  }
}

@layer animations {
  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--scroll-gap)));
    }
  }

  .flip {
    --transition-duration: 0.25s;
    --timing-function: cubic-bezier(0.66, 0, 0.34, 1);
    overflow-y: clip;

    > * {
      /* inline elements can't use transforms */
      display: block;

      /* the transform is moving it up then the translate has a  */
      transition: transform var(--transition-duration) var(--timing-function),
        translate 0ms calc(var(--transition-duration) / 2);
    }

    &:is(:hover, :focus-within) > * {
      transform: translateY(-2lh);
      translate: 0 2lh;
    }

    &:focus-within {
      outline: 2px solid var(--teal);
      border-radius: 4px;

      > *:focus {
        outline: none;
      }
    }
  }
}

@layer utilities {
  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  .font-face-bold {
    font-family: var(--ff-heading);
  }

  /* --Colors-- */
  /* Based off of the CP from the :root */

  /* Text Colors */
  .tc-high-contrast {
    color: var(--text-high-contrast);
  }
  .tc-dark-contrast {
    color: var(--text-dark-contrast);
  }
  .tc-brand {
    color: var(--text-brand);
  }
  .tc-secondary {
    color: var(--text-secondary);
  }

  /* Background Colors */
  .bg-accent-light {
    background-color: var(--background-accent-light);
  }
  .bg-accent-main {
    background-color: var(--background-accent-main);
  }
  .bg-accent-dark {
    background-color: var(--background-accent-dark);
  }
  .bg-dark {
    background-color: var(--background-dark);
  }
  .bg-light {
    background-color: var(--background-light);
  }

  /* --Fonts/Typography-- */
  /* Title font size */
  .fs-title {
    font-size: var(--fs-title);
  }
  /* Heading font size */
  .fs-heading-small {
    font-size: var(--fs-heading-small);
  }
  .fs-heading-regular {
    font-size: var(--fs-heading-regular);
  }
  .fs-heading-extra-large {
    font-size: var(--fs-heading-extra-large);
  }
  .section-title {
    font-size: var(--font-size-heading-large);
  }

  /* Body font size */

  .fs-extra-small {
    font-size: var(--font-size-extra-small);
  }
  .fs-small {
    font-size: var(--font-size-small);
  }
  .fs-regular {
    font-size: var(--font-size-regular);
  }
  .fs-large {
    font-size: var(--font-size-large);
  }
  .fs-extra-large {
    font-size: var(--font-size-extra-large);
  }

  /* Accent font size */
  /*
  .fs-accent-small {
    font-size: var(--font-size-accent-small);
  }
  .fs-accent-large {
    font-size: var(--font-size-accent-large);
  }
  */

  .spot * {
    border: 1px solid blue;
  }
}

/*
Watch Powells video about component styling - the hero
*/

/*
Design a single page modern website with the colors white, black and "#fe3c01".
Make sure its responsive. I want the header at the top with the logo on the left
and the navigation on the right. the navigation contains the Projects, About, Testimonials and Contact links.
under the header i want the banner. It should have huge bold text that says "WEB DEVELOPER" and a call to action below.
The banner and header section should have the background color of "#fe3c01" as well as the footer.
The main content is the Projects, About and Testimonials sections (the Contact section is in the footer).
In the Projects section i want to see at least 3 cards that has a image, heading and short description. 
Make sure the cards are more modern looking and make use of white space and visually appeasing  positioning.
You can generate the other sections yourself with dummy text, i want it to look trendy and elegant. Make use of any modern techniques
to style the webpage, such as borders, backgrounds with gradients in some parts etc.
*/
