/* Sets the order in which the rest of the layers will cascade despite their placements in the document.*/
@layer reset, base, layout, components, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  @font-face {
    font-family: "High Empathy";
    font-weight: 600;
    src: url(/assets/fonts/high_empathy-webfont.woff2) format("woff2"),
      url(/assets/fonts/high_empathy-webfont.woff) format("woff");
  }

  @font-face {
    font-family: "humane";
    font-weight: 700;
    src: url(/assets/fonts/Humane-Bold.woff2) format("woff2"),
      url(/assets/fonts/Humane-Bold.woff) format("woff");
  }

  @font-face {
    font-family: "inter";
    font-weight: 500;
    src: url(/assets/fonts/Inter-Medium.woff2) format("woff2");
  }

  @font-face {
    font-family: "boldonse";
    font-weight: 400;
    src: url(/assets/fonts/boldonse-regular-v2.woff2) format("woff2"),
      url(/assets/fonts/boldonse-regular-webfont.woff) format("woff");
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  /* The base styles of the site*/
  :root {
    /* -------Primitive variables/ Custom Properties --------- */
    /*
        -clr = color
        -ff = font family
        -fs = font size
        */

    /* --Colors-- */
    --clr-white-1: hsl(0, 0%, 100%);
    --clr-white-2: hsl(0, 0%, 75%);
    --clr-white-3: hsl(0, 0%, 50%);

    --clr-black-1: hsl(0, 0%, 0%);
    --clr-black-2: hsl(0, 0%, 15%);
    --clr-black-3: hsl(0, 0%, 30%);

    --clr-red-4: hsl(14, 99%, 75%);
    --clr-red-5: hsl(14, 99%, 50%);
    --clr-red-6: hsl(14, 99%, 25%);

    /* --Fonts/Typography-- */
    --ff-heading: "boldonse", sans-serif;
    --ff-body: inter, sans-serif;
    --ff-accent: "Alex Brush", sans-serif;

    /* --Fonts Sizes-- */
    --fs-100: clamp(0.625rem, 0.5vw + 0.5rem, 0.75rem);
    --fs-200: clamp(0.75rem, 0.7vw + 0.5rem, 0.875rem);
    --fs-300: clamp(0.875rem, 0.9vw + 0.5rem, 1rem);
    --fs-400: clamp(1rem, 1vw + 0.5rem, 1.125rem);
    --fs-500: clamp(1.125rem, 1.2vw + 0.5rem, 1.25rem);
    --fs-600: clamp(1.25rem, 1.4vw + 0.5rem, 1.5rem);
    --fs-700: clamp(1.5rem, 1.6vw + 0.5rem, 1.875rem);
    --fs-800: clamp(1.875rem, 2vw + 0.5rem, 2.25rem);
    --fs-900: clamp(2.25rem, 2.5vw + 0.5rem, 3rem);
    --fs-1000: clamp(3rem, 4vw + 0.5rem, 4rem);

    /* Spaces */
    --space-xxs: 0.128rem;
    --space-xs: 0.272rem;
    --space-sm: 0.618rem;
    --space-md: 1rem;
    --space-lg: 1.618rem;
    --space-xl: 2.618rem;

    /* Border Radius */
    --border-radius-xs: 0.25rem;
    --border-radius-s: 0.5rem;
    --border-radius-m: 0.75rem;
    --border-radius-l: 1rem;
    --border-radius-xl: 1.5rem;

    /* ls = layout space*/
    --ls-xs: 2rem;
    --ls-s: 3.5rem;
    --ls-m: 5rem;
    --ls-l: 8rem;
    --ls-xl: 10rem;
    --ls-xxl: 15rem;

    @media (width < 840px) {
      --ls-xs: 1rem;
      --ls-s: 2rem;
      --ls-m: 3.5rem;
      --ls-l: 5rem;
      --ls-xl: 8rem;
    }
  }

  :root {
    /* ------Structured Variables------ */

    /* --Colors-- */
    --tc-high-contrast1: var(--clr-white-1);
    --tc-high-contrast2: var(--clr-white-2);
    --tc-high-contrast3: var(--clr-white-3);

    --tc-dark-contrast1: var(--clr-black-1);
    --tc-dark-contrast2: var(--clr-black-2);
    --tc-dark-contrast3: var(--clr-black-3);

    --tc-accent-light: var(--clr-red-4);
    --tc-accent: var(--clr-red-5);
    --tc-accent-dark: var(--clr-red-6);

    --bg-accent-light: var(--clr-red-4);
    --bg-accent-main: var(--clr-red-5);
    --bg-accent-dark: var(--clr-red-6);

    --bg-light1: var(--clr-white-1);
    --bg-light2: var(--clr-white-2);
    --bg-light3: var(--clr-white-3);

    --bg-dark1: var(--clr-black-1);
    --bg-dark2: var(--clr-black-2);
    --bg-dark3: var(--clr-black-3);

    /* --Fonts/Typography-- */
    --fs-title: var(--fs-1000);

    --fs-heading-small: var(--fs-600);
    --fs-heading-regular: var(--fs-700);
    --fs-heading-large: var(--fs-800);
    --fs-heading-extra-large: var(--fs-900);

    --fs-extra-small: var(--fs-100);
    --fs-small: var(--fs-200);
    --fs-regular: var(--fs-300);
    --fs-large: var(--fs-400);
    --fs-extra-large: var(--fs-500);
  }

  html {
    font-family: var(--ff-body);
    line-height: 1.6;
    /* The amount of padding when clicking on link in page*/
    scroll-padding: 1rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      /* Makes the scroll experience smooth when click on link. */
      scroll-behavior: smooth;
    }
  }

  body {
    font-size: var(--fs-large);
    color: var(--tc-high-contrast1);
    /* background-color: var(--bg-accent-main); */
  }

  body h1,
  h2,
  h3,
  h4 {
    font-family: var(--ff-heading);
    color: var(--tc-high-contrast1);
  }

  h1 {
    font-size: var(--fs-title);
  }

  a {
    color: var(--tc-high-contrast1);
  }

  a:hover,
  a:focus-visible {
    color: var(--tc-high-contrast2);
  }
}

/* Just generic layouts */
@layer layout {
  /* Selects all the direct descendants, except the first one */
  .flow > * + * {
    margin-block-start: var(--flow-space, 1em); /* 1em for readable flow */
  }

  .main {
    position: relative;
    z-index: 10;
    background-color: var(--bg-dark1);

    transform: translate3d(0, 0, 0); /* For Safari browser*/
  }

  .section {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .projects__header {
    height: 70svh;
    margin-block-end: 15vh;
    font-family: "boldonse";
    font-size: var(--fs-heading-large);
    line-height: 1.7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .projects__header-text {
      max-width: 800px;
    }

    .accent-text {
      font-family: "high empathy";
      font-size: 4rem;
      color: var(--tc-accent);
      padding-inline: 0.8rem;
      line-height: 0.5;
      font-weight: 800;
    }
  }

  .section-title {
    position: relative;
    font-size: var(--fs-heading-extra-large);
    display: flex;
    gap: 1rem;
    align-items: center;

    & span {
      /* position: absolute; */
      font-size: clamp(3rem, 5vw + 0.5rem, 6rem);
      font-family: "high empathy";
      bottom: -35%;
      color: var(--tc-accent);
      font-weight: 900;
    }

    @media (width < 840px) {
      flex-direction: column;
      align-items: baseline;
      gap: 0;

      & span {
        /* font-size: 3rem; */
        line-height: 1;
      }
    }
  }

  .grid-flow {
    display: grid;
    gap: var(--grid-flow-gap, 2rem); /* 1rem for consistent flow */

    @media (width > 830px) {
      --grid-flow-gap: 5rem;
    }
  }

  .equal-cols {
    display: grid;
    gap: var(--equal-col-gap, 1rem);
    align-items: var(--equal-col-vert-align), initial;
    justify-content: space-between;

    @media (width > 830px) {
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      /* grid-auto-columns: 1fr; Make cols equal */
    }

    &[data-gap="large"] {
      --equal-col-gap: 2rem; /* if need a larger gap */
    }

    &[data-align="center"] {
      --equal-col-vert-align: center; /* if need a center alignment for the cols */

      @media (width > 490px) {
        grid-auto-flow: column;
        /* grid-auto-columns: 1fr;*/ /*Make cols equal */
      }
    }

    &[data-direction="reversed"] {
      @media (width > 490px) {
        p {
          order: -1;
        }
      }
    }
  }

  .section {
    --padding-b: 3rem;
    padding-block: var(--padding-b); /* Top and bottom spacing of sections */

    @media (width > 830px) {
      --padding-b: 5rem;
    }
  }

  .wrapper {
    --wrapper-max-width: min(100vw, 1530px);
    --wrapper-inline-padding: 1rem;

    max-width: var(--wrapper-max-width); /* Large screen */
    margin-inline: auto;
    padding-inline: var(--wrapper-inline-padding); /*Small screens */
    box-sizing: content-box; /* Just for adjusting the size from figma files */

    &[data-width="narrow"] {
      /* Modifier attribute for wider breakouts */
      --wrapper-max-width: 960px; /* local scoped var. Overrides the value in .wrapper class but only for ones that has this data attribute. */
    }

    &[data-width="wide"] {
      /* Modifier attribute for wider breakouts */
      --wrapper-max-width: 100vw; /* local scoped var. Overrides the value in .wrapper class but only for ones that has this data attribute. */
    }

    &[data-padding="large"] {
      @media (width > 830px) {
        --wrapper-inline-padding: 2rem;
      }
    }
  }
}

@layer components {
  .skip-to-main:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .skip-to-main {
    position: absolute;
    padding: 1rem;
    top: 1rem;
    left: 1rem;
    z-index: 99;
    background-color: var(--bg-accent-main);
    color: white;
  }

  .site-header {
    --site-header-height: auto;
    --site-header-padding: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;

    height: var(--site-header-height);
    padding-block: var(--site-header-padding);
  }

  .site-header__inner {
    display: flex;
    flex-wrap: wrap; /* makes the nav more responsive on smaller screens */
    gap: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    animation: nav-load 600ms ease-in 800ms forwards;
    opacity: 0;

    .site-name {
      display: flex;
      font-weight: 800;
      font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);

      sup {
        font-weight: 500;
      }
    }
  }

  [aria-controls="primary-nav"] {
    display: none;
    background-color: transparent;
    z-index: 100;
    border: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 4rem;
    height: 2rem;
    text-transform: none;
    position: relative;
    aspect-ratio: 1/1;
    gap: 0.5rem;
    cursor: pointer;

    .btn__shapes {
      background-color: white;
      line-height: 1.5rem;
      height: 2px;
      width: 2rem;
    }
  }

  .primary-navigation {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 2rem;
      text-transform: uppercase;
      font-size: var(--fs-small);
      align-items: center;
    }

    a:link,
    a:hover,
    a:active,
    a:visited {
      text-decoration: none;
      color: white;
    }

    .contact {
      background-color: var(--bg-accent-main);
      border-radius: var(--border-radius-s);
      transition: background-color 0.2s ease-in-out;
      cursor: pointer;

      a {
        padding: 0.5rem 0.8rem;

        @media (width < 830px) {
          display: block;
        }
      }
    }

    .contact:hover {
      background-color: var(--bg-accent-dark);
    }
  }

  /* Styles for mobile */
  @media (width < 580px) {
    .primary-navigation {
      will-change: translate, display;
      display: none;
      translate: 500px 0;
      transition: translate 1s, display 1s;
      transition-behavior: allow-discrete;

      position: fixed;
      z-index: 10;
      inset: 0 0 auto 0;
      height: 100vh;
      background-color: black;
      padding: 2rem;
      padding-block-start: 10rem;
      font-family: "humane";

      ul {
        line-height: 0.8em;
        font-size: 8rem;
        flex-direction: column;
        text-align: unset;
        align-items: start;

        & * {
          display: block;
        }

        a {
          padding-block-start: 0.2rem;

          translate: 0 120px;
          /* transition: translate 1s 1s; */
        }
      }

      .contact {
        background-color: unset;

        a {
          padding: 0;
        }

        &:hover {
          background-color: unset;
        }
      }
    }

    /* Show the mobile-nav icon*/
    [aria-controls="primary-nav"] {
      display: flex;
      position: fixed;
      right: 1rem;
    }

    /* Show the mobile-nav */
    [aria-expanded="true"] ~ .primary-navigation {
      display: block;
      translate: 0 0;

      @starting-style {
        translate: 500px 0;
      }

      ul {
        & * {
          display: block;
        }
      }

      ul a {
        translate: 0 0;
        transition: translate 1s;
      }
    }
  }

  .button {
    display: inline-flex;
    padding: 0.8rem 1rem;
    font-size: var(--fs-regular);
    background-color: var(--bg-dark1);
    text-decoration: none;
    border-radius: 10px;

    &:hover,
    &:focus-visible {
      color: var(--tc-dark-contrast1);
      background-color: var(--bg-light1);
    }

    &[data-color="light"] {
      color: var(--tc-dark-contrast1);
      background-color: var(--bg-light1);

      &:hover,
      &:focus-visible {
        color: var(--tc-high-contrast1);
        background-color: var(--bg-dark1);
      }
    }
  }

  .hero {
    /* background-color: aqua; */
    height: 100svh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    .wrapper {
      height: 100%;
    }

    .hero-top {
      /* background-color: green; */
      display: flex;
      align-items: end;
      justify-content: center;
    }

    .hero-content {
      /* background-color: blue; */
      display: flex;
      flex-direction: column;
      justify-content: center;

      .hero-title {
        width: auto;
        height: 60vw;
        max-height: 500px;

        opacity: 0;
        transform: translateY(10%);
        animation: hero-load 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;

        @media (width >550px) {
        }
      }

      .hero-punchline {
        display: block;
        width: 100%;
        font-family: "high empathy";
        font-size: clamp(4rem, 10vw + 1rem, 10rem);
        /* font-size: 10rem; */
        color: var(--bg-accent-main);
        line-height: 0.6em;
        text-align: center;
        text-shadow: black 1px 4px 10px;
        -webkit-text-stroke: 2px;
        z-index: 5;

        @media (width > 490px) {
          margin-block-start: -1rem;

          @media (width > 830px) {
            margin-block-start: -3rem;
          }
        }
      }
    }

    p {
      font-size: 1rem;
      text-transform: uppercase;
      line-height: 1.2em;
      word-spacing: 2rem;
      text-align: center;
      mix-blend-mode: difference;

      @media (width > 490px) {
      }
    }

    .hero-p {
      /* background-color: red; */
      padding-inline-start: 1rem;
      padding-block-start: 2rem;
      width: 100%;
      max-width: 100vw;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: difference;

      display: flex;
      flex-direction: column;
      gap: 50vh;

      p {
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 1.2em;
        word-spacing: 2rem;
      }
    }
  }

  .projects__cards {
    height: max-content;
  }

  .card {
    color: var(--clr-white-2);
    display: grid;
    grid-template-rows: max-content;
    gap: var(--card-col-gap, 1rem);
    border: 1px solid hsl(0, 0%, 10%);
    padding: 1rem;
    border-radius: var(--border-radius-m);
    max-width: 800px;

    &[data-direction="right"] {
      margin-inline-start: auto;
    }

    /* Solid background */
    /* &::after {
      position: absolute;
      content: "";
      background-color: var(--bg-dark1);
      z-index: -1;
      inset: 0;
      border-radius: inherit;
    } */

    .card-preview {
      border-radius: var(--border-radius-s);
      background-repeat: none;
      background-position: center;
      display: flex;
      justify-content: center;
      background-size: cover;
      align-items: center;
      background-image: url(/assets/gradient.jpg);
      padding-block: 15vw;

      @media (width > 830px) {
        padding-block: 10vw;
      }
    }

    .card-preview video {
      width: 80%;
      max-width: 720px;
      object-fit: fill;
      aspect-ratio: 5/3;
      border-radius: var(--border-radius-s);
    }

    .card__title {
      /* padding-block-start: 0.6rem; */
      height: min-content;
    }

    .card__title h3 {
      color: var(--tc-high-contrast2);
      font-family: "boldonse";
      font-size: var(--fs-heading-small);
      font-weight: 300;
    }

    .card-info {
      position: relative;
      font-size: var(--fs-small);
      display: flex;
      flex-direction: column;
    }

    .card-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .card-tag {
        display: inline;
        font-size: clamp(0.6rem, 0.5vw + 0.5rem, 0.8rem);
        color: var(--tc-accent);
        text-transform: uppercase;
        padding: 0.5em 1em;
        line-height: normal;
        /* margin-inline-end: 0.5rem; */
        border: 1px solid var(--bg-accent-main);
        border-radius: 50vw;
      }
    }

    .card__description {
      padding-block-start: 0.6rem;
      line-height: 1.6;
      font-size: 1.25rem;
      text-transform: uppercase;
      /* color: var(--tc-high-contrast1); */
      /* font-weight: 300; */
      font-family: "boldonse";

      display: flex;
      justify-content: space-between;
    }
  }

  .about-grid {
    display: grid;
    position: relative;
    gap: 5rem;

    .about-header > div {
      position: sticky;
      top: 5rem;
    }

    .about-header-desc {
      max-width: 650px;
      font-size: clamp(1rem, 1vw + 0.5rem, 1.15rem);
      line-height: 1.4em;
    }

    .about-title {
      margin-block-start: 2rem;
      position: relative;
      padding-block-end: 5rem;

      .about-heading {
        font-size: clamp(1.75rem, 2vw + 2rem, 3.5rem);
      }

      .about-punchline {
        min-width: 200px;
        max-width: 400px;
        position: absolute;
        color: var(--bg-accent-main);
        font-family: "high empathy";
        font-size: clamp(4rem, 3vw + 2.5rem, 5rem);
        /* font-size: 5rem; */
        line-height: 0.4;
        left: 2rem;
        bottom: 2rem;
      }
    }

    @media (width > 1200px) {
      grid-template-columns: 2fr 3fr;

      .about-title {
        display: flex;
        justify-content: center;
      }

      .about-title .about-punchline {
        text-align: center;
        left: auto;
      }
    }
  }

  .about__cards {
    .about__card {
      padding-block: 2rem;
      border-block: 1px solid var(--bg-dark2);
      display: flex;
      /* gap: 2rem; */
      justify-content: space-between;

      .about__card-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        /* justify-content: space-around; */

        @media (width > 830px) {
          flex-direction: row;
          align-items: center;

          & p {
            /* align-self: flex-end; */
            width: 400px;
            margin-left: auto;
            /* background-color: brown; */
          }
        }
      }

      & svg {
        width: 50px;
        height: 50px;

        animation: wiggle 4s steps(5) infinite;
      }

      .about__card-group {
        display: flex;
      }

      & h3 {
        width: fit-content;
        font-weight: 300;
        font-size: clamp(1rem, 1.5vw + 0.5rem, 1.25rem);
        text-transform: uppercase;
        line-height: 1.6em;
        /* margin-block-end: var(--space-sm); */
      }

      & p {
        color: var(--tc-high-contrast2);
        line-height: 1.5em;
        font-size: 1rem;
        /* margin-inline-start: auto; */
      }

      span {
        font-family: var(--ff-heading);
        font-size: var(--fs-large);
        color: var(--tc-high-contrast2);
        align-self: flex-end;
      }
    }
  }

  .about__details {
    --about-grid-direction: row;
    padding-block-start: 5rem;

    display: grid;
    grid-auto-flow: var(--about-grid-direction);
    gap: 1rem;

    .about__details-title {
      font-size: var(--fs-heading-small);
    }

    .about__details-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .about__details-title {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 2rem;

        h3 {
          font-size: var(--fs-heading-large);
          position: relative;

          span {
            bottom: -1rem;
            left: -3rem;
            position: absolute;
            font-family: "high empathy";
            font-size: 7.5rem;
            color: var(--bg-accent-main);

            @media (width > 830px) {
              top: -8rem;
              left: -5rem;
              font-size: 10rem;
            }
          }
        }
      }

      .about__details-text {
        p {
          /* font-size: var(--fs-regular); */
          font-size: 1rem;
          line-height: 1.5em;
          max-width: 400px;
        }
      }
    }

    .about__details-picture {
      img {
        /* width: fit-content; */
        width: 100%;
        max-height: 90vh;
        object-fit: cover;
        border-radius: var(--border-radius-s);
        filter: grayscale(100%);
      }
    }

    @media (width > 830px) {
      --about-grid-direction: column;

      padding-block-start: 0;
      grid-template-columns: 1fr fit-content;
      max-height: 100vh;
      align-content: end;

      @media (width > 1200px) {
        padding-inline: 4rem;
        gap: 1rem;
      }

      .about__details-content {
        flex-direction: column;

        .about__details-text {
          display: flex;
          justify-content: end;
          align-items: center;
          height: 100%;
        }
      }

      .about__details-title {
        height: 100%;
      }

      .about__details-picture {
        padding: 1rem;
        max-width: fit-content;

        img {
          width: fit-content;
          max-height: 90vh;
        }
      }
    }
  }

  .testimonials__carousals {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .testimonials__btns {
      display: none;
    }

    .testimonials__carousal {
      /* background-color: chartreuse; */
      max-width: 800px;
      height: 40vh;

      display: grid;
      grid-template-rows: 2fr 1fr;

      .testimonials__quote {
        display: flex;
        align-items: center;
        font-size: var(--fs-heading-regular);
        line-height: 1.2em;
        font-weight: 600;
      }

      .testimonials__details {
        padding-inline-start: 2rem;
        line-height: 1.4em;
      }

      .testimonials__details-company {
        color: var(--tc-high-contrast3);
        font-size: var(--fs-regular);
      }
    }

    @media (width > 830px) {
      .testimonials__carousal {
        max-width: 1000px;
        height: 60vh;
        gap: 2rem;

        .testimonials__quote {
          align-items: end;
          text-indent: 2em;

          font-size: 3rem;
        }
      }

      @media (width > 1200px) {
        position: relative;

        .testimonials__btns {
          display: initial;
          position: absolute;
          bottom: 0;

          .testimonials__btn {
            height: 100%;
            width: 50px;
            background-color: none;
            border: 3px solid var(--bg-dark3);
            border-radius: 50vw;
            margin-inline: 0.5rem;
            filter: grayscale(100%);
            overflow: hidden;
            padding: 0;

            &:hover {
              cursor: pointer;
            }

            img {
              aspect-ratio: 1;
              width: 50px;
              height: 50px;
              pointer-events: none;
            }
          }

          .active__btn {
            border: 4px solid var(--bg-accent-main);
            filter: grayscale(0);
          }
        }

        .testimonials__carousal {
          /* background-color: chartreuse; */
          height: 90vh;
        }

        .testimonial__hide {
          display: none;
          /* position: absolute; */
        }
      }
    }
  }

  .infiniteScroll {
    --scroll-gap: 2rem;
    --animation-speed: 50s;

    padding-block: 0.5rem;
    display: flex;
    gap: var(--scroll-gap);
    justify-content: space-between;
    overflow: hidden;
    user-select: none;

    &[data-shade="on"] {
      -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 40%,
        white 10%,
        transparent
      );
      mask: linear-gradient(
        90deg,
        transparent,
        white 40%,
        white 10%,
        transparent
      );
    }

    &[data-speed="slow"] {
      --animation-speed: 50s;
    }

    &[data-speed="fast"] {
      --animation-speed: 20s;
    }

    .infiniteScroll__sections {
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      align-items: center;
      flex-shrink: 0;

      @media (prefers-reduced-motion: no-preference) {
        animation: scroll var(--animation-speed) linear infinite;
      }

      & > * {
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
  }

  .connect__banner {
    position: relative;

    .connect__banner_info {
      margin-block-start: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }

    .connect__banner_text {
      line-height: 1.2em;
      padding-inline: 1rem;
    }

    .connect__banner_title {
      /* background-color: blue; */
      padding-block-start: 2rem;
      font-size: 10rem;
      gap: 10rem;

      .connect-header {
        width: auto;
        height: 30vh;

        @media (width > 830px) {
          height: 40vh;
        }
        /* background-color: black; */
      }
    }

    .connect__banner_text {
      font-size: var(--fs-heading-regular);
      text-align: center;
    }

    .connect__banner_buttons {
      display: flex;
      flex-direction: column;
      margin-inline: auto;
      gap: 1rem;
      line-height: 1;
    }
  }

  .footer {
    background-color: var(--bg-accent-main);
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 0;
    height: 100svh;

    .footer__content {
      padding: 2rem;
      position: absolute;
      inset: 0;
      top: auto;
    }

    .footer__end {
      display: flex;
      justify-content: space-between;
    }

    .footer__social {
      display: flex;
      gap: 1rem;
    }
  }

  .scroller {
    max-width: 100%;
    overflow: hidden;

    .scroller__inner {
      display: flex;
      gap: 45rem;
    }
  }
}

@layer animations {
  @media (prefers-reduced-motion: no-preference) {
    @keyframes scroll {
      to {
        transform: translateX(calc(-100% - var(--scroll-gap)));
      }
    }

    .scale {
      transition: 0.3s scale ease-out;
    }

    .card:hover {
      .scale {
        scale: 95%;
      }
    }
    @media (hover: hover), (width > 580px) {
      .flip {
        --transition-duration: 0.25s;
        --timing-function: cubic-bezier(0.66, 0, 0.34, 1);
        overflow-y: clip;

        > * {
          /* inline elements can't use transforms */
          display: block;

          /* the transform is moving it up then the translate has a  */
          transition: transform var(--transition-duration)
              var(--timing-function),
            translate 0ms calc(var(--transition-duration) / 2);
        }

        &:is(:hover, :focus-within) > * {
          transform: translateY(-2lh);
          translate: 0 2lh;
        }

        &:focus-within {
          outline: 2px solid var(--bg-accent-main);
          border-radius: 4px;

          > *:focus {
            outline: none;
          }
        }
      }
    }

    /* Scroll-watcher */
    .site-header::after {
      content: "";
      position: fixed;
      top: 0;
      height: 4px;
      z-index: 5555;
      width: 100%;
      background-color: var(--bg-accent-main);
      transform-origin: left;
      scale: 0 1;

      animation: scroll-watcher linear;
      animation-timeline: scroll();
    }

    @keyframes scroll-watcher {
      to {
        scale: 1 1;
      }
    }

    @keyframes fade-out {
      40% {
        opacity: 0;
      }
      100% {
        opacity: 0;
        scale: 70%;
      }
    }

    .scroll__text-reveal {
      padding-block-start: 2rem;
      color: hsl(0, 0%, 100%, 0.2);
      background-image: linear-gradient(90deg, white, white);
      background-clip: text;
      background-size: 0% 100%;
      background-repeat: no-repeat;

      animation: scroll__text-reveal linear forwards;
      animation-timeline: view();
      animation-range: contain contain 80%;

      &[data-card="card"] {
        animation-range: 20% 50%;
      }
    }
    @keyframes scroll__text-reveal {
      to {
        background-size: 100% 100%;
      }
    }

    @keyframes wiggle {
      0% {
        transform: rotate(90deg);
      }
      50% {
        transform: rotate(240deg);
      }
      100% {
        transform: rotate(170deg);
      }
    }

    @keyframes nav-load {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes hero-load {
      0% {
        opacity: 0;
        transform: translateY(10%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
        /* z-index: 1; */
      }
    }
  }
}

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  .font-face-bold {
    font-family: var(--ff-heading);
  }

  /* Layout spaces */
  .ls-xs {
    padding-block-start: var(--ls-xs);
  }
  .ls-s {
    padding-block-start: var(--ls-s);
  }
  .ls-m {
    padding-block-start: var(--ls-m);
  }
  .ls-l {
    padding-block-start: var(--ls-l);
  }
  .ls-xl {
    padding-block-start: var(--ls-xl);
  }
  .ls-xxl {
    padding-block-start: var(--ls-xxl);
  }

  /* --Colors-- */
  /* Based off of the CP from the :root */

  /* Text Colors */
  .tc-high-contrast {
    color: var(--text-high-contrast);
  }
  .tc-dark-contrast {
    color: var(--text-dark-contrast);
  }
  .tc-brand {
    color: var(--text-brand);
  }
  .tc-secondary {
    color: var(--text-secondary);
  }

  /* Background Colors */
  .bg-accent-light {
    background-color: var(--background-accent-light);
  }
  .bg-accent-main {
    background-color: var(--background-accent-main);
  }
  .bg-accent-dark {
    background-color: var(--background-accent-dark);
  }
  .bg-dark {
    background-color: var(--background-dark);
  }
  .bg-light {
    background-color: var(--background-light);
  }

  /* --Fonts/Typography-- */
  /* Title font size */
  .fs-title {
    font-size: var(--fs-title);
  }
  /* Heading font size */
  .fs-heading-small {
    font-size: var(--fs-heading-small);
  }
  .fs-heading-regular {
    font-size: var(--fs-heading-regular);
  }
  .fs-heading-extra-large {
    font-size: var(--fs-heading-extra-large);
  }

  /* Body font size */

  .fs-extra-small {
    font-size: var(--font-size-extra-small);
  }
  .fs-small {
    font-size: var(--font-size-small);
  }
  .fs-regular {
    font-size: var(--font-size-regular);
  }
  .fs-large {
    font-size: var(--font-size-large);
  }
  .fs-extra-large {
    font-size: var(--font-size-extra-large);
  }

  /* Accent font size */
  /*
  .fs-accent-small {
    font-size: var(--font-size-accent-small);
  }
  .fs-accent-large {
    font-size: var(--font-size-accent-large);
  }
  */

  .spot * {
    border: 1px solid blue;
  }
}
